{{#if this.shouldShow}}
  {{#unless this.bannerClosed}}
    <div class="banner-box">
      <div class="container">
        <div class="section-header">
          {{html-safe (theme-setting "main_heading_content")}}
        </div>
        <div class="hero-image">
          {{html-safe (theme-setting "hero_image_content")}}
        </div>
      </div>
    </div>
  {{/unless}}
{{/if}}
