@if $display_on_desktop == "false" {
  .desktop-view .banner-box {
    display: none !important;
  }
}
@if $display_on_mobile == "false" {
  .mobile-view .banner-box {
    display: none !important;
  }
}

// Default positioning when outlet is shared
#main > div {
  display: flex;
  flex-direction: column;

  .above-site-header-outlet {
    order: -4;
  }
  .d-header-wrap {
    order: -3;
  }
  .below-site-header-outlet {
    order: -1;
    & + .below-site-header-outlet {
      order: -2;
    }
  }

  #main-outlet {
    max-width: calc(100% - 16px);
    width: $large-width;
  }
}

@if $swap_default_positioning == "true" {
  #main > div {
    .below-site-header-outlet {
      order: -2;
      & + .below-site-header-outlet {
        order: -1;
      }
    }
  }
}

.banner-box {
  position: relative;
}

.hero-image {
  background-image: var(--banner-bg-img);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &::before,
  &::after {
    display: none !important;
  }
}
